@import "tailwindcss";
@import "./animations.css";

:root {
  --background: #171717;
  --text: #000000;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-merriweather), serif;
}

body {
  background: var(--background);
  color: white;
}

@theme {
  --color-primary: #cbad8d;
  --color-secondary: #a48374;
  --color-hover: #e7d9ca;
  --color-container: #8c6f60;
  --color-background: #3a2d28;
  --color-text: #f5f0eb;
  --color-text-secondary: #d6ccc2;
  --color-accent: #5f85a6;
  --color-post-background: #50505063;
  --body-background: #171717;
}

.tiptap a {
  color: #3b82f6;
  text-decoration: underline;
}

.tiptap a:hover {
  cursor: pointer;
  color: #2563eb;
}

.tiptap {
  /* border-radius: 0px 0px 5p 5px; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

@layer utilities {
  .cursor-hammer {
    cursor: var(--cursor-hammer);
  }
}

.tiptap ul,
.tiptap ol {
  padding-left: 1.5rem;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap li {
  margin: 0.25rem 0;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #d9dbde;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

input[type="file"] {
  font-size: 0;
}
input[type="file"]::file-selector-button {
  font-size: initial;
  color: black;
  padding: 3px;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
